# Video ingestion software SAMPLE CONFIGURATION FILE
# Author: William Barbour, Ph.D.; Vanderbilt University
# Date: 09/28/2020
# -----------------------------------------------------


__CAMERA__
name==camera0
description==pole2cam0
rtsp_authentication==root:pass
rtsp_address==10.225.253.21/axis-media/media.amp?streamprofile=4k_h264
report==appsink
report_interval==15
__CAMERA__
name==camera1
description==pole2cam1
rtsp_authentication==root:pass
rtsp_address==10.225.253.22/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==camera2
description==pole2cam2
rtsp_authentication==root:pass
rtsp_address==10.225.253.23/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==camera3
description==pole2cam3
rtsp_authentication==root:pass
rtsp_address==10.225.253.24/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==camera4
description==pole2cam4
rtsp_authentication==root:pass
rtsp_address==10.225.253.25/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==camera5
description==pole2cam5
rtsp_authentication==root:pass
rtsp_address==10.225.253.26/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15


__IMAGE-SNAPSHOT__
enable==false

__VIDEO-SNAPSHOT__
enable==false


__PERSISTENT-RECORDING__
enable==true
recording_filename==./recording/record_{cam_name}_%05d.mp4
segment_time==2
maximum_segment_files==0
