# Video ingestion software SAMPLE CONFIGURATION FILE
# Author: William Barbour, Ph.D.; Vanderbilt University
# Date: 09/28/2020
# -----------------------------------------------------


__CAMERA__
name==camera0
description==pole1cam0
rtsp_authentication==root:pass
rtsp_address==10.225.253.11/axis-media/media.amp?streamprofile=4k_h264
report==appsink
report_interval==15
__CAMERA__
name==camera1
description==pole1cam1
rtsp_authentication==root:pass
rtsp_address==10.225.253.12/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==camera2
description==pole1cam2
rtsp_authentication==root:pass
rtsp_address==10.225.253.13/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==camera3
description==pole1cam3
rtsp_authentication==root:pass
rtsp_address==10.225.253.14/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==camera4
description==pole1cam4
rtsp_authentication==root:pass
rtsp_address==10.225.253.15/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==camera5
description==pole1cam5
rtsp_authentication==root:pass
rtsp_address==10.225.253.16/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15


__IMAGE-SNAPSHOT__
# Required enable declaration (use case-insensitive 'true'/'false')
enable==false


__VIDEO-SNAPSHOT__
# Required enable declaration (use case-insensitive 'true'/'false')
enable==false
# (optional) Length of historical video buffer in seconds to be held for snapshot; default=60 seconds
#            Not to be confused with live length of snapshot
buffer_time==30
# (optional) Default duration in seconds of video snapshot for cases when duration is not given in trigger.
default_duration==60


__PERSISTENT-RECORDING__
enable==true
recording_filename==./recording/record_{}_%05d.mp4
segment_time==2
maximum_segment_files==0

