# for Gstreamer and Gstreamer Daemon interface
# currently these don't work with PIP -- need to be set up at the OS level during gstd install
#pygobject
#pygstc == 0.2.0
# for distributed logging
logbook >= 1.5.3
# for system resource usage
psutil