# Video ingestion software SAMPLE CONFIGURATION FILE
# Author: William Barbour, Ph.D.; Vanderbilt University
# Date: 09/28/2020
# -----------------------------------------------------

__CAMERA__
name==p1c1
description==pole1cam1
rtsp_authentication==root:pass
rtsp_address==10.225.253.11/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p1c2
description==pole1cam2
rtsp_authentication==root:pass
rtsp_address==10.225.253.12/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p1c3
description==pole1cam3
rtsp_authentication==root:pass
rtsp_address==10.225.253.13/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p1c4
description==pole1cam4
rtsp_authentication==root:pass
rtsp_address==10.225.253.14/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p1c5
description==pole1cam5
rtsp_authentication==root:pass
rtsp_address==10.225.253.15/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p1c6
description==pole1cam6
rtsp_authentication==root:pass
rtsp_address==10.225.253.16/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15

__CAMERA__
name==p2c1
description==pole2cam1
rtsp_authentication==root:pass
rtsp_address==10.225.253.21/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p2c2
description==pole2cam2
rtsp_authentication==root:pass
rtsp_address==10.225.253.22/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p2c3
description==pole2cam3
rtsp_authentication==root:pass
rtsp_address==10.225.253.23/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p2c4
description==pole2cam4
rtsp_authentication==root:pass
rtsp_address==10.225.253.24/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p2c5
description==pole2cam5
rtsp_authentication==root:pass
rtsp_address==10.225.253.25/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p2c6
description==pole2cam6
rtsp_authentication==root:pass
rtsp_address==10.225.253.26/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15

__CAMERA__
name==p3c1
description==pole3cam1
rtsp_authentication==root:pass
rtsp_address==10.225.253.31/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p3c2
description==pole3cam2
rtsp_authentication==root:pass
rtsp_address==10.225.253.32/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p3c3
description==pole3cam3
rtsp_authentication==root:pass
rtsp_address==10.225.253.33/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p3c4
description==pole3cam4
rtsp_authentication==root:pass
rtsp_address==10.225.253.34/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p3c5
description==pole3cam5
rtsp_authentication==root:pass
rtsp_address==10.225.253.35/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15
__CAMERA__
name==p3c6
description==pole3cam6
rtsp_authentication==root:pass
rtsp_address==10.225.253.36/axis-media/media.amp?streamprofile=4k_h264
report==none
report_interval==15


__IMAGE-SNAPSHOT__
# Required enable declaration (use case-insensitive 'true'/'false')
enable==false


__VIDEO-SNAPSHOT__
# Required enable declaration (use case-insensitive 'true'/'false')
enable==false
# (optional) Length of historical video buffer in seconds to be held for snapshot; default=60 seconds
#            Not to be confused with live length of snapshot
buffer_time==30
# (optional) Default duration in seconds of video snapshot for cases when duration is not given in trigger.
default_duration==60


__PERSISTENT-RECORDING__
enable==true
recording_filename==./record/record_{session_num}_{cam_name}_%05d.mp4
segment_time==5
# set to two days of 5-min segments
maximum_segment_files==576

