# Video ingestion software SAMPLE CONFIGURATION FILE
# Author: William Barbour, Ph.D.; Vanderbilt University
# Date: 09/16/2020
# -----------------------------------------------------

# Instructions
# -----------------------------------------------------
# 1. Blank lines and those beginning with '#' are disregarded by configuration file parser.
# 2. Configuration values are parsed out as key:value pairs, delineated by '==' and without spaces.
#   2a. Spaces are tolerated in values, but are generally not preferred.
#   2b. The double equals key:value separator allows single equals ('=') to be present in values such as URL.
#   2c. Boolean values should be given as case-insensitive 'true'/'false'.
#   2d. Quotation marks are not needed for keys or values.
#   2e. Leading/trailing spaces are stripped when parsing key:value pairs.
# 3. Configuration blocks are denoted by double underscore ('__') on each side of block name.
#   3a. Configuration blocks are: 'CAMERA', 'IMAGE-SNAPSHOT', 'VIDEO-SNAPSHOT', 'PERSISTENT-RECORDING'.
#   3b. Configuration values are assumed to be inside the preceding block until another block is started.
#   3c. Some configuration blocks can be repeated multiple time for multiple instances: CAMERA.
#   3d. For repeated/multiple blocks, they will be read into configuration in the listed order.
# -----------------------------------------------------


__CAMERA__
# name should be generic with no collisions (optional, default=camera%d)
name==camera0
# description will be written to file metadata for convenience
description==test bench camera 1
# authentication is 'user:password' format
rtsp_authentication==root:password
# address is IP:port/...
rtsp_address==192.168.0.124:554/axis-media/media.amp
# (optional) sets up logging of camera stream progress - values 'pregressreport' and 'appsink' trigger, all others don't
# note that this reporting seems to have a significant CPU impact (i.e., one full thread)
# 'progressreport' - logs a bus message generated by the progressreport element
# 'appsink' - keeps track of and logs a frame count received through appsink triggers
report==appsink
# (optional) interval (in seconds, if 'progressreport'; in frames, if 'appsink') to periodically log camera progress
report_interval==300


__CAMERA__
name==camera1
description==test bench camera 3
rtsp_authentication==root:password
rtsp_address==192.168.0.239:554/axis-media/media.amp
report==none
report_interval==300

__CAMERA__
name==camera2
description==copy of test bench camera 1
rtsp_authentication==root:password
rtsp_address==192.168.0.124:554/axis-media/media.amp

__CAMERA__
name==camera3
description==copy of test bench camera 3
rtsp_authentication==root:password
rtsp_address==192.168.0.239:554/axis-media/media.amp

__CAMERA__
name==camera4
description==copy of test bench camera 1
rtsp_authentication==root:password
rtsp_address==192.168.0.124:554/axis-media/media.amp

__CAMERA__
name==camera5
description==copy of test bench camera 3
rtsp_authentication==root:password
rtsp_address==192.168.0.239:554/axis-media/media.amp



__IMAGE-SNAPSHOT__
# Required enable declaration (use case-insensitive 'true'/'false')
enable==true


__VIDEO-SNAPSHOT__
# Required enable declaration (use case-insensitive 'true'/'false')
enable==true
# (optional) Length of historical video buffer in seconds to be held for snapshot; default=60 seconds
#            Not to be confused with live length of snapshot
buffer_time==30
# (optional) Default duration in seconds of video snapshot for cases when duration is not given in trigger.
default_duration==20


__PERSISTENT-RECORDING__
# Required enable declaration (use case-insensitive 'true'/'false')
enable==true
# (optional) File naming template/convention for segmented recording per camera
# Filename template must contain '%d' to denote segment number, which does not roll over at max files.
# Camera name must be denoted in filename or implied directory (max once for each) using '{cam_name}' in the template
# Any directories implied in filename template will be created (including those containing camera name '{cam_name}')
# Relative directories (inside session directory) must be started with './', otherwise interpreted as absolute
# Default: './recording/record_{cam_name}_%05d.mp4'
recording_filename==./recording/record_{cam_name}_%05d.mp4
# (optional) Maximum amount of video time in minutes contained in each segment of file; default=15 minutes
segment_time==15
# (optional) Maximum number of segment files, per camera, kept in storage location (0 = no limit); default=0
maximum_segment_files==0
# (optional) Maximum estimated recording size in GB, per camera; automatically translated to number of segment files
# assumes 5.5 MB/s bitrate per camera (in parameters.py)
# this parameter overrides `maximum_segment_files`; default is not active
# maximum_camera_storage==1000

